/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	.t_logo {
	    width: 50px;
	}
	.t_link {
	    margin: 0 0 0 5px;
	}
	.btn_dd{
		padding: 0 0 0 5px;
	}
	.dd_menu{
		width: 290px;
	}
	.dd_menu[data-bs-popper] {
	    top: 35px;
	    left: -6px;
	    margin-top: 0;
	    padding: 0;
	}
	.dd_search i{
		margin-left: -13px;
	}
	
	/*Header end*/

	/* Banner start */
	.banner{
		padding: 70px 0 80px;
	}
	.taxi_indicator {
	    top: 290px;
	}
	.caro_h1 {
	    font-size: 40px;
	}
	.caro_p{
		margin: 20px 0;
		font-size: 16px;
	}
	.caro_btn{
		padding: 0 15px;
	}
	.btn_common {
	    width: 115px;
	    height: 40px;
	}
	.btn_caro {
	    margin-top: 30px;
	    padding: 3px 0 0;
	}
	/* Banner end */


	/* About start */
	.common_h1 {
	    font-size: 26px;
	}
	.common_shape {
	    width: 18%;
	}
	.about{
		padding: 70px 0;
	}
	.taxi_about_left{
		margin-top: 40px;
		padding: 0 20px;
	}
	.taxi_about_right {
	    margin-top: 40px;
	    padding: 0 10px;
	    text-align: center;
	}
	.about_right_content{
		font-size: 16px;
	}
	.about_p2 {
	    margin: 25px 0;
	}
	/* About end */
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.t_logo {
	    width: 60px;
	}
	.t_link {
	    margin: 0 0 0 7px;
	}
	.btn_dd{
		padding: 0 7px 0;
	}
	.dd_menu{
		width: 320px;
	}
	.dd_menu[data-bs-popper] {
	    top: -10px;
	    left: 188px;
	    margin-top: 0;
	    padding: 0;
	}
	.dd_search i{
		margin-left: -10px;
	}
	
	/*Header end*/

	/* Banner start */
	.banner{
		padding: 70px 0 80px;
	}
	.taxi_indicator {
	    top: 312px;
	}
	.caro_h1 {
	    font-size: 55px;
	}
	.caro_p{
		margin: 25px 0;
		font-size: 18px;
	}
	.caro_btn{
		padding: 0 70px;
	}
	.btn_caro {
	    margin-top: 40px;
	}
	.taxi_img {
	    margin-top: 0;
	    margin-bottom: 50px;
	    padding: 0 70px;
	}
	/* Banner end */

	/* About start */
	.common_h1 {
	    font-size: 28px;
	}
	.common_shape {
	    width: 14%;
	}
	.about{
		padding: 70px 0;
	}
	.taxi_about_left{
		margin-top: 45px;
		padding: 0 50px;
	}
	.taxi_about_right {
	    margin-top: 45px;
	    padding: 0 40px;
	    text-align: center;
	}
	.about_right_content{
		font-size: 16px;
	}
	.about_p2 {
	    margin: 25px 0;
	}
	/* About end */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.t_logo {
	    width: 60px;
	}
	.t_link {
	    margin: 0 0 0 7px;
	}
	.btn_dd{
		padding: 0 7px 0;
	}
	.dd_menu{
		width: 350px;
	}
	.dd_menu[data-bs-popper] {
	    top: -10px;
	    left: 338px;
	    margin-top: 0;
	    padding: 0;
	}
	.dd_search i{
		margin-left: -10px;
	}
	
	/*Header end*/

	/* Banner start */
	.banner{
		padding: 80px 0 100px;
	}
	.taxi_indicator {
	    top: 315px;
	}
	.caro_h1 {
	    font-size: 65px;
	}
	.caro_p{
		margin: 25px 0;
		font-size: 18px;
	}
	.caro_btn{
		padding: 0 70px;
	}
	.btn_caro {
	    margin-top: 30px;
	}
	.taxi_img {
	    margin-top: 0;
	    margin-bottom: 50px;
	    padding: 0 70px;
	}
	/* Banner end */

	/* About start */
	.common_h1 {
	    font-size: 32px;
	}
	.common_shape {
	    width: 12%;
	}
	.about{
		padding: 80px 0;
	}
	.taxi_about_left{
		margin-top: 55px;
		padding: 0 70px;
	}
	.taxi_about_right {
	    margin-top: 55px;
	    padding: 0 70px;
	    text-align: center;
	}
	.about_right_content{
		font-size: 16px;
	}
	.about_p2 {
	    margin: 25px 0;
	}
	/* About end */
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Header start*/
	.t_logo {
	    width: 60px;
	}
	.dd_menu{
		width: 350px;
	}
	.dd_menu[data-bs-popper] {
	    top: 60px;
	    left: -318px;
	    margin-top: 0;
	}
	/*Header end*/

	/*	Banner start*/
	.taxi_indicator {
	    top: 338px;
	}
	.caro_h1 {
	    font-size: 65px;
	}
	.btn_caro {
	    margin-top: 40px;
	}
	.taxi_img {
	    margin-top: 25px;
	}
	/*	Banner end*/

	/* About start */
	.taxi_about_right {
	    margin-top: 45px;
	}
	.about_right_content{
		font-size: 16px;
	}
	/* About end */
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/*Header start*/
	.t_logo {
	    width: 60px;
	}
	.dd_menu{
		width: 370px;
	}
	.dd_menu[data-bs-popper] {
	    top: 61px;
	    left: -337px;
	    margin-top: 0;
	}
	/*Header end*/
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	/* About start */
	.taxi_about_right{
		margin-top: 70px;
	}
	.about_right_content{
		font-size: 18px;
	}
	/* About end */
}