/*Font Family start*/
@font-face{
	src: url(../fonts/Poppins-Bold.otf);
	font-family: Poppins-Bold;
}

@font-face{
	src: url(../fonts/Poppins-SemiBold.otf);
	font-family: Poppins-SemiBold;
}

@font-face{
	src: url(../fonts/Poppins-Medium.otf);
	font-family: Poppins-Medium;
}

@font-face{
	src: url(../fonts/Poppins-Regular.otf);
	font-family: Poppins-Regular;
}
/*Font Family end*/

/*Common CSS start*/
body{
	font-family: Poppins-Regular;
	font-size: 16px;	
	font-weight: 400;
	color: #000000;
}
.btn_common{
	width: 130px;
	height: 45px;
	text-transform: uppercase;
	transition: .33s ease-in-out;
}
.btn_common:hover{
	color: #000000 !important;
	background-color: #ffd60e!important;
	border: 1px solid #ffd60e;
}
.common_title{}
.common_h1{
	margin: 0;
	font-family: Poppins-SemiBold;
	font-size: 36px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}
.common_h1 span{
	color: #ffd60e;
}
.common_shape{
	margin: 10px auto;
	width: 20%;
	height: 2px;
	background-color: #ffd60e;
}
/*Common CSS end*/

/*Header CSS start*/
header{
	background-color: #000000;
}
.t_logo{
	width: 75px;
}
.t_logo img{
	width: 100%;
}
.menu{}
.taxi_icon{
	background-color: #ffd60e;
}
.t_item{}
.t_link{
	margin: 0 15px;
	color: #ffd60e;
	text-transform: uppercase;
	border-radius: 8px;
	transition: .33s ease-in-out;
}
.t_link:hover{
	color: #000000;
	background-color: #ffd60e;
}
.t_dropdown i{
	font-size: 20px;
	color: #ffd60e;
}
.btn_dd{}
.btn_dd::after {
    display: none;
}
.dd_menu{
	width: 400px;
	padding: 10px;
	background-color: #ffd60e;
	border-radius: 10px;
}
.dd_menu[data-bs-popper] {
    top: 68px;
    left: -370px;
    margin-top: 0;
}
.dd_input{
	border: 0;
	background-color: #ffd60e;
}
.dd_input:focus {
    color: #000000;
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}
.dd_search{}
.dd_search i{
	color: #000000;
}
/*Header CSS end*/

/*Banner CSS start*/
.banner{
	padding: 100px 0 120px;
	background-image: linear-gradient(rgba(43,47,54,0.90),rgba(43,47,54,0.95)), url(../images/banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.taxi_indicator{
	top: 377px;
}
.taxi_indicator [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffd60e;
}
.taxi_inner{}
.taxi_item{}
.taxi_caro_content{
	text-align: center;
}
.caro_h1{
	margin: 0;
	font-size: 82px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}
.caro_h1 span{
	color: #ffd60e;
}
.caro_p{
	margin: 25px 0 35px;
	font-size: 20px;
	color: #ffffff;
}
.caro_p span{
	color: #ffd60e;
}
.caro_btn{
	margin-top: 88px;
}
.btn_carousel{}
.btn_caro{
	margin-top: 60px;
	padding: 4px 0 0;
	color: #ffd60e;
	border: 1px solid #ffd60e;
}
.caro_prev{
	float: left;
	color: #ffd60e;
	border: 0;
	background-color: transparent;
	text-transform: uppercase;
}
.caro_next{
	float: right;
	color: #ffd60e;
	border: 0;
	background-color: transparent;
	text-transform: uppercase;
}
.taxi_img{
	margin-top: 45px;
}
.taxi_img img{
	width: 100%;
}
/*Banner CSS end*/

/*About CSS start*/
.about{
	padding: 100px 0;
	background-color: rgba(43,47,54,0.90);
}
.taxi_about_left{
	margin-top: 50px;
}
.about_left_img{
	-webkit-box-shadow: -10px -10px 0px 2px rgba(255,214,14,1);
	-moz-box-shadow: -10px -10px 0px 2px rgba(255,214,14,1);
	box-shadow: -10px -10px 0px 2px rgba(255,214,14,1);
}
.about_left_img img{
	width: 100%;
}
.taxi_about_right{
	margin-top: 50px;
}
.about_right_content{
	font-size: 17px;
	color: #ffffff;
}
.about_p1{
	margin: 0;
}
.about_p1 span{
	color: #ffd60e;
	text-transform: uppercase;
}
.about_p2{
	margin: 16px 0;
}
.about_p3{
	margin: 0;
}
/*About CSS end*/

/*Service CSS start*/
.services{
	padding: 100px 0;
	background-color: rgb(255,214,14);
}
.black_span{
	color: #000000 !important;
}
.black_shape{
	background-color: #000000 !important;
}
.service_box{
	margin-top: 50px;
	position: relative;
	overflow: hidden;
}
.service_content{
	background-color: #000000;
	border: 1px solid #000000;
	border-radius: 0 0 0 65px;	
}
.service_img{}
.service_img img{
	width: 100%;
	height: auto;
}
.service_h2{
	margin: 0;
	padding: 20px 0;
	font-family: Poppins-Medium;
	font-size: 22px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
}
.service_btn{
	margin-bottom: 35px;
	text-align: center;
}
.btn_service{
	color: #ffd60e;
	border: 1px solid #ffd60e;
}
.service_overlay{
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
	position: absolute;
	background-image: linear-gradient(rgba(43,47,54,0.75),rgba(43,47,54,0.75)), url(../images/service_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0 0 0 65px;
	transition: .5s;
}
.service_over_h2{
	margin-top: 70px;
	font-size: 24px;
	color: #ffd60e;
}
.service_p{
	padding: 0 50px;
	color: #ffffff;
	text-align: center;
}
.service_box:hover .service_overlay{
	right: 0;
}
/*Service CSS end*/

/*Feature CSS start*/
.feature{
	padding: 100px 0;
	background-color: rgba(43,47,54,0.90);
}
.feature_wrapper{}
.feature_content{
	margin-top: 50px;
	padding: 0 5px;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 15px;
	text-align: center;
	transition: .8s ease-in-out;
	cursor: pointer;
}
.feature_icon{
	margin: 12px 0;
	font-size: 48px;
	color: #ffd60e;
}
.feature_h2{
	margin: 0 0 15px;
	font-size: 24px;
}
.feature_p{
	margin: 0;
}
.feature_btn{
	margin: 20px 0;
}
.btn_feature{
	color: #000000;
	background-color: #ffd60e;
	border: 1px solid #ffd60e;
}
.btn_feature:hover{
	color: #000000 !important;
	background-color: transparent !important;
	border: 1px solid #000000 !important;
}
.feature_content:hover{
	transform: scale(1.1);
	-webkit-box-shadow: 0px 0px 10px 5px rgba(255,214,14,1);
	-moz-box-shadow: 0px 0px 10px 5px rgba(255,214,14,1);
	box-shadow: 0px 0px 10px 5px rgba(255,214,14,1);
}
/*Feature CSS end*/

/*Contact CSS start*/
.contact{
	padding: 100px 0 250px;
	position: relative;
	background-image: linear-gradient(rgba(43,47,54,0.65),rgba(43,47,54,0.65)), url(../images/contact_bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.contact_left{
	margin-top: 50px;
}
.map iframe{
	width: 100%;
	height: 385px;
	border: 2px solid #ffd60e;
}
.contact_right{
	margin-top: 50px;
	padding: 0 5px;
	border: 1px solid #ffd60e;
	border-radius: 10px;
}
.contact_h2{
	margin: 10px 0 0;
	font-family: Poppins-Medium;
	font-size: 24px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
}
.contact_h2 span{
	color: #ffd60e;
}
.contact_form{}
.f_input{
	margin-top: 25px;
}
.f_input:focus {
    color: #000000;
    border-color: #ffd60e;
    outline: 0;
    box-shadow: none;
}
.contact_btn{
	margin: 20px 0;
	text-align: center;
}
.btn_contact{
	color: #000000;
	background-color: #ffd60e;
	border: 1px solid #ffd60e;
}
.btn_contact:hover{
	color: #ffffff !important;
	background-color: transparent !important;
	border: 1px solid #ffd60e !important;
}
/*Contact CSS end*/

/*Contact float CSS start*/
.contact_float{}
.contact_float_wrapper{
	margin-top: -180px;
	padding: 35px 0;
	position: absolute;
	background-color: #ffd60e;
	border-radius: 20px;
	-webkit-box-shadow: 0px 5px 8px 0px rgba(255,214,14,1);
	-moz-box-shadow: 0px 5px 8px 0px rgba(255,214,14,1);
	box-shadow: 0px 5px 8px 0px rgba(255,214,14,1);
}
.contact_float_content{
	margin: 0 10px;
	padding: 25px 15px;
	width: 336px;
	height: 262px;
	border-radius: 20px;
	transition: .33s ease-in-out;
	cursor: pointer;
}
.contact_float_h2{
	margin: 0 0 20px;
	font-family: Poppins-SemiBold;
	font-size: 26px;
	font-weight: 600;
	text-transform: uppercase;
}
.contact_float_p{
	padding: 0 15px;
	text-align: center;
}
.contact_float_content ul{}
.contact_float_content ul li{
	margin: 0 0 10px;
}
.contact_float_content ul li span{
	padding-left: 10px;
}
.contact_icon i{
	width: 20px;
	font-size: 22px;
	text-align: center;
	transition: .6s;
}
.contact_icon i:hover{
	transform: scale(1.1);
}
.contact_float_content:hover{
	background-color: #ffffff;
}
/*Contact float CSS end*/

/*Footer CSS start*/
footer{
	padding: 100px 0 15px;
	background-color: #000000;
}
.footer_content{
	margin-top: 100px;
	color: #ffffff;
}
.footer_content2{
	text-align: right;
}
.footer_content p{
	margin: 0;
}
.footer_content ul li{
	margin-right: 0;
}
.footer_content a{
	font-family: Poppins-Regular;
	font-size: 16px;	
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
	transition: .33s ease-in-out;
}
.footer_content i{
	padding: 6px 0 0;
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #ffffff;
	border-radius: 50%;
	transition: .33s ease-in-out;
}
.footer_content a:hover{
	color: #ffd60e;
}
.footer_content i:hover{
	color: #ffd60e;
	border: 1px solid #ffd60e;
}
/*Footer CSS end*/

